$font-medium : 20px;
$margin : 20px;

.header-container {
    margin: 20px 0px 20px 10px;
    display: flex;
    justify-content: space-between;

    >p {
        font-size: $font-medium;
        margin-left: $margin;
    }

    .header-menu {
        display: flex;
        align-items: center;

        img {
            margin: 0 5px;
            cursor: pointer;
        }
    }
}