$font-small : 10px;
$gray : #A6A6A6;
$orange : #FF6135;

.navigation {
  width: 393px;
  height: 59px;
  background: white;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  >div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    >img{
      width: 20px;
      height: 20px;
    }
    >p {
      font-size: $font-small;
      margin-top: 5px;
      color: $gray;
    }
    >p.active{
      color: $orange;
    }
  }
}