$color-gray: #999999;
$font-small: 10px;
$font-medium: 14px;
$font-large: 32px;
$font-bold: 700;
$line-height: 18px;

.itemBox-container {
  display: flex;
  font-size: $font-large;
  font-weight: $font-bold;
  cursor: pointer;

  .itemBox-number {
    margin-right: 20px;
    margin-left: 24px;
  }

  .itemBox-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 33px;
    .box{
      display: flex;
      >img{
        width: 104px;
        height: 104px;
      }
      >div{
        margin-left: 23px;
      }
    }

    .itemBox-heart {
        margin-left: 20px;
    }

    .itemBox-cart {
      position: absolute;
      top: 122px;
      right: 13px;
    }
  }
}

.name_font {
  font-weight: $font-bold;
  font-size: $font-medium;
  line-height: $line-height;
}

.type_font {
  font-size: $font-small;
  color: $color-gray;
  line-height: $line-height;
}

.volume_font {
  font-weight: $font-bold;
  font-size: $font-small;
  line-height: $line-height;
}

.price_font {
  font-weight: $font-bold;
  font-size: $font-medium;
  line-height: $line-height;
}

.unit_font {
  font-size: $font-small;
  color: $color-gray;
  line-height: $line-height;
}

.score_font {
  font-weight: $font-bold;
  font-size: $font-small;
  color: $color-gray;
  line-height: $line-height;
  display: flex;
  align-items: center;
}
