$color-black: #1d1d1d;
$font-large: 24px;
$font-bold: 700;
$font-medium: 14px;
$line-height: 32px;

.main-container{
    width: 393px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    .main-banner{
        width: 393px;
        height: 311px;
        padding: 25px;
        background: url(../../../public/bannerBg.svg);
        position: relative;
        .title{
            line-height: $line-height;
            .first-title{
                font-size: $font-large;
            }
            .second-title{
                font-size: $font-large;
                font-weight: $font-bold;
            }
        }
        .sub-title{
            margin-top: 15px;
            p{
                font-size: $font-medium;
            }
        }
        .banner-character{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .main-category{
        display: flex;
        -ms-overflow-style: none;
        overflow-y: auto;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}